body, html {
     height: 100%;
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     
}
#time {
  color: #1A1F4D;
  font-size: 1.5em;
  text-align: center;
}
#main {
     /* 重置body的默认边距和填充 */
     margin: 0;
     padding: 0;
}

body{
     height: 100%;
     background: linear-gradient(to bottom, #a0c4ff, #5C0DE4); /* 浅蓝色到深蓝色渐变 */
}
@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
  }
}


.gradient-background h1 {
  color: #3B6DC4;
  text-align:center;
  margin-top: 0px;
}
.menu div a {
  text-decoration: none;
  font-size: 20px;
  color: #B27CDB;
  text-align: center;
  padding: 20px;
}
.menu{
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 20px;
}
.menu div{
  height: 3em;
  width: 8em;
  background-color: #2A51A7;
  border-radius: 50px;
  animation: glow 2s infinite;
}
#model{
  padding: 0px;
  margin: 0px;
  border-style: soild;
  position: absolute;
  top: 150px;
  left: 250px!important;
  width: 600px;
  height: 400px;
  background: linear-gradient(to bottom, #5563FF, #5C0DE4); /* 浅蓝色到深蓝色渐变 */
}

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 10px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    .hidden {
        display: none;
    }
    .show {
        display: block;
    }
    .classmates {
      position: absolute;
      top: 600px;
    }
#model div{
  width: 14em;
  height: 10em;
  border-color: #989EE3;
  border-style: groove;
  background: rgba(255, 255, 255, 0.3); /* 半透明的白色 */
  position: relative; 
  overflow: auto;
  background-attachment: fixed;
  white-space: pre-wrap;
}
.top {
  position: relative;
  margin-left: 40px;
  margin-top: 20px;
}
.down {
  position: absolute;;
  top: -346px;
  left: 300px;
  margin-bottom:20px;
}







